<div class="container">
  <div>
<div>
  <h1>Random Password Generator</h1>
  <p>Create strong and secure passwords to keep your account safe online.</p>
</div>
<div class="content">
  <div>
    <img src="../../assets/images/image_1.svg" alt="image 1">
  </div>
  <div class="form">
    <div  class="password-field">
      <div class="password">
      <input type="text" [(ngModel)]="password" name="password" id="password" readonly>
      <label for="password">{{passwordType}}</label>
      <div class="refresh_icon">
        <img style="cursor: pointer;" (click)="generatePassword()" src="../../assets/images/refresh_icon.svg" alt="icon">
      </div>
    </div>
      <button>Copy</button>
    </div>
    <div class="slider-field">
      <div>
      <p class="input_heading">Password length : {{passwordLength}}</p>
    </div>
      <div class="slidecontainer">
        <input type="range" (change)="generatePassword()" [(ngModel)]="passwordLength" min="1" max="50" [value]="passwordLength"class="slider" id="myRange">
      </div>
    </div>
    <div class="checkbox_field">
    <div>
      <p class="input_heading">Characters <br> used:</p>
    </div>
    <div class="checkboxes">
      <div class="checkbox_input">
      <input type="checkbox" [(ngModel)]="checkBox.capitalLetter" name="ABC" id="ABC">
      <label for="ABC">ABC</label>
    </div>
    <div class="checkbox_input">
      <input type="checkbox" [(ngModel)]="checkBox.smallLetter" name="abc" id="abc">
      <label for="abc">abc</label>
    </div>
    <div class="checkbox_input">
      <input type="checkbox" [(ngModel)]="checkBox.number" name="123" id="123">
      <label for="123">123</label>
    </div>
    <div class="checkbox_input">
      <input type="checkbox" [(ngModel)]="checkBox.symbol" name="#$&" id="#$&">
      <label for="#$&">#$&</label>
    </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>