<div class="container">
  <div>
<div>
  <h1>Random Password Generator</h1>
  <p>Create strong and secure passwords to keep your account safe online.</p>
</div>
<div class="content">
  <div>
    <img src="../../assets/images/image_1.svg" alt="image 1">
  </div>
  <div class="form">
    <div  class="password-field">
      <div class="password">
      <input type="text" name="password" id="password">
      <label for="password">ver strong</label>
      <div class="refresh_icon">
        <img src="../../assets/images/refresh_icon.svg" alt="icon">
      </div>
    </div>
      <button>Copy</button>
    </div>
    <div class="slider-field">
      <div>
      <p>Password length:</p>
      <p>15</p>
    </div>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
    </div>
    <div class="checkbox_field">
    <div>
      <p>Characters <br> used:</p>
    </div>
    <div class="checkboxes">
      <div>
      <input type="checkbox" name="ABC" id="ABC">
      <label for="ABC">ABC</label>
    </div>
    <div>
      <input type="checkbox" name="abc" id="abc">
      <label for="abc">abc</label>
    </div>
    <div>
      <input type="checkbox" name="123" id="123">
      <label for="123">123</label>
    </div>
    <div>
      <input type="checkbox" name="#$&" id="#$&">
      <label for="#$&">#$&</label>
    </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>